In [1]:
# Import Dependencies
import pandas as pd

In [3]:
# Import CSV
country_data = pd.read_csv('/Users/emilyschner/Documents/Project3_Data.csv')
country_data.head()

,Country Name,Country Code,Series Name,Series Code,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
0,Argentina,ARG,Access to electricity (% of population),EG.ELC.ACCS.ZS,100,99.7,99.9,100,100,100,100,100,100,..
1,Argentina,ARG,Account ownership at a financial institution o...,FX.OWN.TOTL.ZS,50.2,..,..,48.71,..,..,..,71.63,..,..
2,Argentina,ARG,Adequacy of social protection and labor progra...,per_allsp.adq_pop_tot,38.58560335,..,37.84584176,39.68798911,38.7727308,39.04418575,39.30133787,36.56051927,..,..
3,Argentina,ARG,"Air transport, passengers carried",IS.AIR.PSGR,12121912.82,14245183,15076354,16749271,18084553,19461377,3680874,6708097,..,..
4,Argentina,ARG,Compensation of employees (current LCU),GC.XPN.COMP.CN,1.38384E+11,1.87407E+11,2.56289E+11,3.16033E+11,3.8705E+11,5.31295E+11,6.83039E+11,1.0684E+12,1.9792E+12,..